<div>
  <table>
      <% @track.notes.each do |note| %>
      <tr>
        <td><%= note.user.email  %> says:  <td>
        <td><%= note.content %></td>
        <td><%= button_to 'Delete', note_url(note), method: :delete %></td>
      </tr>
      <% end %>
  </table>
</div>
