<form action="<%= bands_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="">Band Name</label>
  <br>
  <input type="text" name="band[name]" value="">
  <br>
  <input type="submit" value="Create Band">
</form>

  <%= button_to 'Back', bands_url, method: :get %>
